#timer {
  position: absolute;
  width: 226px;
  height: 104px;
  left: 85vw;
  top: 10vh;

  font-family: "Asap";
  font-style: bolder;
  font-weight: 400;
  font-size: 36px;
  line-height: 125px;
  /* or 347% */
  color: black;
}
