* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}
.column2 {
  object-fit: contain;
  flex: 50%;
  padding-top: 200px;
  background-color: var(--main-colour);
  padding-right: 20px;
  text-align: justify;
}

.resourceText {
  padding-right: 160px;
  padding-bottom: 30px;
}

.resourceDescription {
  font-family: "Asap";
  font-size: 1.3vw;
  line-height: 130%;
  padding: 5% 5%;
}

.resourceH3 {
  font-size: 2.2vw;
  text-align: center;
}

.resourceTitle {
  font-size: 2.5vw;
  text-align: center;
  font-weight: bold;
}

.resourceImage {
  padding-left: 160px;
  padding-top: 60px;
}

.resourceLink {
  text-align: center;
  background-color: var(--secondary-colour);
  padding: 1% 1%;
  font-size: 1.2rem;
  border-radius: 50px;
  width: 60%;
  margin-left: 10%;
}

.resourceLink > a {
  color: #fff;
  text-decoration: none;
}
.resourceLink:hover {
  transform: scale(105%);
  cursor: pointer;
}
