* {
    box-sizing: border-box;
    /* background-color: blue; */
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    /* height: 300px; Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 50%;
    padding-top: 200px;
    background-color: #849AAF;
    padding-right: 20px;
    text-align: justify;
    /* height: 300px; Should be removed. Only for demonstration */
  }

  h3 {
    font-size: 5vw;
  }