* {
    box-sizing: border-box;
    /* background-color: blue; */
  }
  
  .consistant {
    max-height: 20%;
    min-height: 20%;
  }
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    /* height: 300px; Should be removed. Only for demonstration */
  }
  .column2 {
    flex: 50%;
    padding-top: 200px;
    background-color: #849AAF;
    padding-right: 20px;
    text-align: justify;
    /* height: 300px; Should be removed. Only for demonstration */
  }

  h3 {
    font-size: 5vw;
  }

  .resourceText {
    padding-right: 160px;
    padding-bottom: 30px;
  }

  p {
    font-size: 1.5vw;
  }

  .resourceH3 {
    font-size: 2.5vw;
    text-align: center;
  }

  .resourceImage {
    padding-left: 160px;
    padding-top: 60px;
  }

  .resourceLink {
      text-align: center;
      background-color: #459869;
      padding: 1% 2%;
      font-size: 1.2rem;    
      border-radius: 50px;
      font-weight: bolder;
  }

  .resourceLink > a {
    color: #fff;
    text-decoration: none;
  }
  .resourceLink:hover {
    transform: scale(105%);
    cursor: pointer;
}
