.wellbeingButton {
    background-color: #459869;
    color: #fff;
    border: 1px solid;
    padding: 0.5% 2%;
    font-size: 1vw;    
    border-radius: 50px;
    
    
}

.wellbeingButton:hover {
    transform: scale(105%);
    cursor: pointer;
}